@CHARSET "UTF-8";

body{
	background-color: #fdfdfd;
	font-size:100%;
}

div.titleBar{
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
	background-color: black;
	border: 0px;
	padding: 0px;
}

.center{
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.bodycenter{
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	background-color: white;
	border-color: #808080;
	border: 1px;
	padding: 0px;
}

.titleImg{
	float: top;
	width: 948px;
	height: 500px;
	margin: 16px 16px 16px 16px;
}

a.titleBar{
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 1.5em 1.8em;
	text-decoration: none;
	font-size: 1.0em;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: 700;
}

a.signright{
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	padding-right: 1.8em;
	padding-left: 0.25em;
	text-decoration: none;
	font-size: 1.0em;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: 700;
}

a.signleft{
    float: right;
	display: block;
	color: white;
	text-align: center;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	padding-right: 0.25em;
	padding-left: 1.8em;
	text-decoration: none;
	font-size: 1.0em;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: 700;
}

a.signor{
	float: right;
	display: block;
	color: #808080;
	text-align: center;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	padding-right: 0.25em;
	padding-left: 0.25em;
	text-decoration: none;
	font-size: 1.0em;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal;
}

div.playerBar{
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 100%;
	background-color: black;
	border: 0px;
	padding: 0px;
}

.searchBox{
	float: right;
	height: 2.0em;
	width: 15em;
	margin-top: 1.5em;
	margin-right: 0em;
	padding: 0.25em;
	font-family: Arial,Helvetica,sans-serif;
	color: #808080;
	border: 0.1em solid;
	border-right: 0em;
	border-top-left-radius: 0.4em;
	border-bottom-left-radius: 0.4em;
	border-color: #808080;
}

.searchSub{
	float: right;
	height: 2.0em;
	width: 2.1em;
	margin-top: 1.5em;
	margin-left: 0em;
	padding: 0.25em;
	font-family: Arial,Helvetica,sans-serif;
	color: #808080;
	border: 0.1em solid;
	border-top-right-radius: 0.4em;
	border-bottom-right-radius: 0.4em;
	border-color: #808080;
	background-color: white;
}
