@CHARSET "UTF-8";

p.line{
	float: left;
	display: block;
	shadow: 1px 1px #808080;
	margin: 2px 16px 0px 16px;
	width: 948px;
	height: 3px;
	background-color: #000000;
	font-size: 0px;
	color: black;
	border: 0px;
	padding: 0px;
}

p.rectangle{
	float: left;
	display: block;
	margin: 0px;
	width: 100%;
	height: 10px;
	background-color: #ff0000;
	font-size: 0px;
	color: black;
	border: 0px;
	padding: 0px;
}

.bodycenter{
	width: 980px;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4em;
	background-color: white;
	border-color: #808080;
	border: 1px;
	padding: 0px;
}

.titleImg{
	top: 0px;
	width: 948px;
	height: 500px;
	margin: 16px 16px 0px 16px;
}

a.Lable{
	float: left;
	display: block;
	color: #000000;
	text-align: center;
	padding-top: 1.5em;
	padding-bottom: 0.1em;
	padding-right: 0.25em;
	padding-left: 1.8em;
	text-decoration: none;
	font-size: 1em;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: 700;
}

table{
	float: left;
	width: 948px;
	margin: 5px 16px 0px 16px;
	border-collapse: collapse;
}

th{
	display: block;
	text-align: left;
	text-decoration: none;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	font-size: 1em;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: 700;
}

th.middle{

}

.musicbutton{
	display: block;
	float: right;
	height: 2em
}
